// Primary
$color-primary-10: #637385;
$color-primary-20: #545775;

// Text
$color-primary: #DBCFB0;
$color-secondary: #C7BCA0;

// Background
$color-background-10: #FFF;
$color-background-20: #e3e3e3;

// Color
$color-white: #FFFFFF;
$color-black: #111827;
$color-green-50: #159E6C;
$color-error-10: #FEF5F5;
$color-error-30: #FCE1E1;
$color-error-50: #E84545;
$color-warning-10: #FFF6DB;
$color-warning-30: #F6E05B;
$color-warning-50: #D3A008;

// Stroke
$color-stroke-30: #272b38;
$color-stroke-10: #d4d4d4;
