@import "src/styles/colors.module";

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: $color-background-10;
}

.content {
  display: flex;
  padding: 32px;
  height: 100%;
  width: 100%;
  justify-content: center;
}



